.marker-text {
    display: flex;
    align-items: center;
}
.marker-text::after {
    content: " ";
    margin-left: 1rem;
    display: block;
    background: white;
    width: 25%;
    height: 2px;

}

input, textarea{
    outline: none;
}

/* Estilos para o spinner */
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #5172fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }